/* Write your CSS here */
.home-container {
  height: 100vh;
}
.home-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  margin-top: 150px;
}
.home-content > img {
  width: 20%;
}
.dark {
  background-color: black;
}
